<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
	
	.header{
		background: linear-gradient(#123BAB,#36599B);
		padding: 50px;
		text-align: center;
	}

	.main{
		float: left;
		width: 55%;
		padding: 15px;
		margin-top: 7px;
	}
	

	.info{
		background: linear-gradient(#FE7800,#FF9333) ;
		float: right;
		width: 35%;
		padding: 10px;
		margin-top: 20px;
		text-align: center;
	}

	.responsive{
		max-width: : 100%;
		width: auto;
	}

	.cropping{
		width: 400px;
		height: 400px;
		object-fit: cover;
	}

	@media screen and (max-width: 800px){
		.main, .info, .responsives{
			width: 90%
		}
	}

	@media only screen and (max-width:620px) {
 	 /* For mobile phones: */
  		.main, .info, .responsive {
    		width:100%;
  		}
	}

	@media only screen and (max-width:400px) {
 	 /* For mobile phones: */
  		.main, .info, .responsive {
    		width:100%;
  		}
	}

	</style>
	<title>The Adventure of Rafif Taris</title>
</head>
<body style="background-color: #02CC1B;">
	<div class='header'>
		<h1><font color = #FFFFFF>Welcome to My Journey!</font></h1>
		<h2>
	</div>

	<div class="main">
		<font color = "white", size="4">
		<h2 style="text-align: center"><font size="7"> Story of My Life</font></h2>
		<p>Nama		: {{ name }} </p>
		<p>NPM		: {{ npm }} </p>
		<p>Umur		: {{ age }} tahun </p>
		<p>Kuliah	: Faculty of Computer Science University of Indonesia</p>
		<p>Hobi		: Mendengarkan Musik, Main Game, Membaca Novel</p>
		<p></p>
		<p>Saya suka mendengarkan musik terutama genre K-Pop dan EDM. Saya masuk Fasilkom UI karena saya ingin mendalami sistem keamanan komputer. Menjadi programmer web adalah salah satu langkah menuju impian saya. See you on top guys!</p>
		
		<br><br>

		<h2 style="text-align: center"><font size="7">My Friends</font></h2><br>
		<h3><font size="5">Rindu Salsabilla</font></h3>
		<p>Hello! My name is Rindu Salsabilla Chandra.<br>
		I'm University of Indonesia student. I'm from Computer Science major and I enter PPW class B.<br>
		My student number is 1706979442.<br>
		I was born in Jakarta, 19th of July 1999.<br></p> 
		<p>I have a lot of hobbies I like...<br>
		<ul>
			<li>Watching films,</li>
			<li>Reading books,</li>
			<li>Playing ukulele,</li>
			<li>Swimming,</li>
			<li>and many more.</li>
		</ul>
		I'm easy going and I can adapt with new situation in a short time.
		I like public speaking so my friends usually ask me to become
		MC in every event. I like joining organisation and committee in
		my faculty so I can increase my soft skills. </p>
		<a href="http://rindusalsabilla.herokuapp.com/">Click Here to Visit Rindu's Page</a>

		<br><br><br><br>

		<h3><font size="5">Jasmine Nur Safiera</font></h3>
		<p>Hello my name is Jasmine Nur Safiera~ UwU<br>
		NPM 	: 1706024841<br>
		Age 	: 19 years old<br>
		Hobbies : Main game (tapi noob), Fangirlingan, Ngewibu<br>
		Mine itu aunty material. Mine juga jadi volunteer Asian Games biar bisa makan gratis di Warpas. Mohon bantuan doanya ya biar mine gak noob lagi.</p>
		<a href="http://anak-pintar.herokuapp.com/">Click Here to Visit Mine's Page</a>

		</font>
	</div>

	<div class="info responsive">
		<font color = #FFFFFF>
		<h2>My Photo</h2>
		<h3>Me (Rafif Taris)</h3>
		<img src="https://scontent.fcgk10-1.fna.fbcdn.net/v/t1.0-9/40844951_2078756502175899_3138172950662873088_n.jpg?_nc_cat=0&oh=3620980e84dc130cacaa0ddaec06e3bd&oe=5BF0D0E2" alt="Profile Picture 2" class='responsive cropping'>
		<p></p>
		<h3>Rindu Salsabilla</h3>
		<img src="http://rindusalsabilla.herokuapp.com/static/17.jpg" alt="Profile Picture 2" class='responsive cropping'>
		<p></p>
		<h3>Jasmine Nur Safiera</h3>
		<img src="http://www.about.tarung2017.com/foto/315.jpg" alt="Profile Picture 2" class='responsive cropping'>
		</font>
	</div>

</body>
</html>